@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

*,
::after,
::before {
  font-family: "Secular One", sans-serif;
  margin: 0;
}

body {
  font-family: "Secular One", sans-serif;
  background-image: url(/background-2.png);
  height: 100vh;
  width: 100%;
  display: flex;
  align-content: space-between;
}

.footer {
  margin-top: auto;
  padding: 13px 0 7px 0;
  color: #4b4c4d;
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgba(90, 185, 234, 0.80);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  position: relative;
}
.footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 21px;
  line-height: 1.6;
  margin-bottom: 0;
  justify-content: center;
}
.footer li {
  padding: 0 10px;
}
.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.6s;
  color: #e3e9ff;
}
.footer ul a:hover {
  color: #2368ff;
  transition: all 0.6s;
}
.footer .social {
  text-align: center;
  margin: 10px;
}
.footer .social svg {
  font-size: 23px;
  width: 38px;
  height: 38px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0 1px;
  opacity: 1;
  background-color: #add6ff;
  border-radius: 6px;
  transition: all 0.4s;
}
.footer .social svg:hover {
  background-color: #83b8db;
  scale: 1.05;
  transition: all 0.4s;
}
.footer .copyright {
  margin-top: 0 0 5px 0;
  text-align: center;
  font-size: 16px;
  color: rgb(56, 129, 240);
  margin-bottom: 0;
}

.copyrr {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.navbar {
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgba(90, 185, 234, 0.80);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

@keyframes ani {
  0% {
    opacity: 0;
    transition: all 1s;
  }
  50% {
    transform: translateX(1009px);
    opacity: 0.5;
    transition: all 0.8s;
  }
  100% {
    opacity: 1;
    transition: all 0.5s;
    transform: translateX(999px);
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  width: 30%;
}

.dropdown-menu {
  background-color: #1f1c22;
  transition: all 0.45s;
  opacity: 0;
  animation: ani 1s forwards;
  position: absolute;
  margin: auto auto auto -998px;
  z-index: 99;
}

.dropdown-menu li a:hover {
  background-color: #37313d;
  color: #83b8db;
  transition: all 0.59s;
}

.dropdown-menu li a {
  color: #e3e9ff;
  transition: all 0.6s;
}

.nav-link {
  color: #e3e9ff;
}

.navbar-brand {
  color: #e3e9ff;
  transition: all 0.6s;
}

.navbar-brand:hover {
  color: #7b78fa;
  transition: all 0.6s;
}

.nav-item a:hover {
  color: #7b78fa;
  transition: all 0.6s;
}

INPUT[type="search"] {
  background-color: #c79cff;
  border: none;
  transition: all 0.4s;
  color: #5d5be0;
}

INPUT[type="search"]:active {
  background-color: #c79cff;
  transition: all 0.4s;
}

INPUT[type="search"]:focus {
  background-color: #decdff;
  transition: all 0.4s;
}

.navbar-toggler {
  background-color: #c79cff;
}

.card {
  background-color: #c79cff;
  border-radius: 12px 12px 12px;
  border: none;
  margin-top: 1rem;
  display: flex;
  width: 185px;
  cursor: pointer;
  transition: all 0.44s;
}

.cards {
  display: flex;
  min-width: 9rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card img {
  border-radius: 12px;
  max-width: 185px;
}

.card-body {
  background-color: #c79cff;
  border-radius: 0px 28% 12px 12px;
  color: #e3e9ff;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
}

.cntr-pg{
  display: flex;
  padding: 0;
  justify-content: center;
  margin-bottom: 40px;
}

main {
  padding: 20px;
  margin: 102px auto auto auto;
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgba(90, 185, 234, 0.80);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  max-width: 950px;
}
        

.page-name {
  padding: 20px;
  margin-left: 98px;
  margin-top: 20px;
  margin-bottom: 10px;
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgba(90, 185, 234, 0.80);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 12px;
  position: absolute;
  display: flex;
  text-align: left;
  z-index: 1;
}

.page-name a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
}
.page-name p {
  color: #4d94ff;
  margin: 0;
}

@media screen and (max-width: 526px) {
  main {
    margin: 102px 8px 85px;
    padding: 10px;
    transition: all 0.4s;
  }
  .card {
    width: 110px;
    gap: 10px;
    transition: all 0.4s;
  }
  .card-title {
    font-size: 15px;
    transition: all 0.4s;
  }
  .card-body {
    padding: 4px;
    transition: all 0.4s;
  }
}

@media screen and (max-width: 682px) {
  .card {
    width: 135px;
    transition: all 0.4s;
  }
}

@media screen and (max-width: 877px) {
  main {
    margin: 102px 8px 85px;
    padding: 15px;
    transition: all 0.4s;
  }
  .page-name{
    margin-left: 8px;
  }
}

@media screen and (max-width: 490px) {
  main {
    margin: 102px 8px 85px;
    padding: 10px;
    transition: all 0.4s;
  }
  .card {
    gap: 5px;
    width: 97px;
    align-items: center;
    transition: all 0.4s;
  }
  .card-title {
    font-size: 14px;
    transition: all 0.4s;
  }
  .card-body {
    padding: 4px;
    transition: all 0.4s;
  }
}

.navbar-toggler-icon {
  background-color: #2d2636;
}

.card:hover {
  z-index: 3;
  scale: 1.04;
  transition: all 0.34s;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 28px 23px -18px;

}

.card-title {
  color: #e3e9ff;
}
